body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  min-height: 100vh; /* يغطي طول الشاشة بس */
  overflow-x: hidden; /* يمنع أي Scroll جانبي */
}


.hero {
  background-color: #333;
}

.custom-card {
  position: relative;
  background-color: #333;
  border: none;
  border-radius: 10px;
  transition: transform .3s;
}
.custom-card:hover:before {
  content: "";
  position: absolute;
  bottom: 0; /* يبدأ من تحت */
  left: 50%; /* يبدأ من نص الكارد */
  width: 2px; /* سُمك الخط */
  height: 100%; /* طول الخط */
  background: #0f0; /* اللون */
  border-radius: 10px;
transform: translateX(-50%) rotate(-90deg);  transform-origin: bottom left; /* النقطة اللي بيدور حولها */
}
.custom-card:hover:after {
  content: "";
  position: absolute;
  top: 0; /* يبدأ من فوق */
  left: 0; /* الشمال */
  width: 3px; /* سُمك الخط */
  height: 120%; /* طول الخط */
  background: #0f0; /* نفس اللون الأخضر */
  border: bottom left radius 20px; 

  opacity: 1;
}
/* .custom-card:hover::after {
  opacity: 1;}
.custom-card:hover::before {
opacity: 1;} */


.custom-card:hover {
  transform: translateY(-5px);
}

.custom-card .card-img-top {
  height: 400px;
  object-fit: cover;
  filter: grayscale(100%);
}

.custom-card .card-body {
  padding: 10px;
  background: linear-gradient(to bottom, #333, #222);
}

.custom-card .card-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0px;
  color: #0f0 !important
}

.custom-card .card-text {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 2px;
}

.level-badge {
  display: block;
  font-size: 0.8rem;
  color: #999;
  margin-bottom: 5px;
}

.view-more-btn {
  display: inline-block;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  color: #0f0; /* أخضر نيون */
  background: transparent;
  border: 2px solid #0f0;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 0 1px #0f0, 0 0 5px #0f0 inset; /* تأثير نيون */
}

.view-more-btn:hover {
  color: #000; /* لون النص يتغير */
  background: #0f0; /* يملأ الخلفية بالأخضر */
  box-shadow: 0 0 5px #0f0, 0 0 20px #0f0; /* يزود توهج النيون */
  transform: translateY(-2px);
  border: #000 ; /* حركة بسيطة */

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}}
